/* Resetear los márgenes y el padding del body */
body {
    margin: 0;
    padding: 0;
    background-image: url("/imagenes/Cielo_gidf.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.img_prin {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Estilos para el título */
.center-text {
    position: absolute;
    top: -8%;
    left: 47.5%;
    transform: translate(-50%);
    font-family: 'Monoton', cursive;
    font-size: 110px;
    color: #000000;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

/* Estilos para el texto del mensaje */
.Tex_1 {
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translateX(-50%, -50%);
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 55px;
    padding: 50px;
}

/* Estilos para el botón */
.boton {
    position: absolute;
    bottom: 3%;
    left: 40%;
    transform: translateX(- 50%);
    display: block;
    padding: 10px 30px;
    border-radius: 15%;
    background-color: black;
    color: #ffffff;
    font-size: 18px;
    font-family: monospace;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s, transform 0.3s;
}

.boto {
    position: absolute;
    bottom: 3%;
    left: 65%;
    transform: translateX(- 50%);
    display: block;
    padding: 10px 30px;
    border-radius: 15%;
    background-color: black;
    color: #ffffff;
    font-size: 18px;
    font-family: monospace;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s, transform 0.3s;
}


.boto:hover {
    background-color: #6fc5ff;
    transform: scale(1.1);
}

.boto:active {
    background-color: #3d94cf;
    transform: scale(0.98);
}

/* ******************************************************************+ */

.boton:hover {
    background-color: rgb(245, 22, 22);
    transform: scale(1.1);
}

.boton:active {
    background-color: #3d94cf;
    transform: scale(0.98);
}

audio {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 9999;
    /* Asegura que el reproductor esté por encima de otros elementos */
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 50px;
}