body {
    margin: 0;
    padding: 0;
}

.padre {
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.363);
}

.img {
    margin: auto;
}

.img_prin {
    position: static;
    width: 100%;
    height: 100%;
    background: #baadad;
}

.texto {


    height: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.507);
    border-radius: 55px;
}

.Tex_1 {
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    animation: typing 2s steps(12), blink .5s infinite step-end;
    overflow: hidden;

    font-size: 30px;
    font-weight: bold;
    color: #ffffff;

}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.purga {
    font-size: 63px;
}

.img_prin {
    display: block;
    margin: 0 auto;
    position: relative;
}

.title {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.336), rgba(255, 255, 255, 0.267));
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
}

.text {
    color: #ff0015;
    text-shadow: 3px -3px #000000, 3px 3px #ffffff, 3px 3px #ffffff, 3px 3px #080808, 6px 6px #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 54px;

}

.boton {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-100%);
    border-radius: 10px;
    background-color: #ffffff10;
    border-color: #08080854;
}

.txt-btn {
    font-size: 20px;
    color: white;
}