*{
    font-family: monospace;
}
html{
    height: 100vh;
    margin: 0px;
    padding: 0;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
/*************************/
#bodySeparation{
    display: grid;
    grid-template-columns: 75% 25%; /* Dos columnas de tamaño igual */
    margin: 0;
    height: 100%;
}

.mostrarBorde{
    border: 3px solid rgb(255, 255, 255);
    box-sizing: border-box;
    padding: 10px;
}
.centerContent{
    display: flex;
    align-items: center;
    justify-content: center;
}

/****************Izquierda Grid******************/
#bodyText{
    display: grid;
    grid-template-rows: 10% auto 15% 10%; /* Dos columnas de tamaño igual */
    gap: 20px;
    margin: 0;
    height: 100%;
}
    #bodyText-title{
        display: flex;
        align-items: center;
        justify-content: center;
    }
        #mainTitle{
            font-size: 3vh;
            font-weight: bold; /* Negrita */
            text-transform: uppercase; /* Mayúsculas */
            color: white;
        }
    #bodyText-history{
        padding: 10px;
        max-height: 100%;
    }   
        #historyContainer {
            background-color: #ada9a9;
            border: 1px solid #000000;
            box-sizing: border-box;
            border-radius: 5px;
            background-color: rgba(48, 48, 48, 0.5);
            color: rgb(255, 255, 255);
            height: 100%;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
            #historyContainer p{
                font-size: 3vh;
            }

        #bodyText-buttons{
            display: flex;
            justify-content: space-around;
            align-items: center;   
        }

            #bodyText-footer{
                display: grid;
                grid-template-columns: auto auto;
            }
                #bodyText-footerAudio{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
       

#bodyPlayer{
    display: grid;
    grid-template-rows: 1fr 2fr; /* Dos columnas de tamaño igual */
    gap: 20px;
    margin: 0;
    overflow: hidden;
}
    #bodyPlayer-Info{
        display: grid;
        grid-template-rows: 15% auto; /* Dos columnas de tamaño igual */
        gap: 10px;
        margin: 0;
        
    }
        #bodyPlayer-namePlayer p{
            font-size: 100%;
            color: white;
            font-weight: bold; /* Negrita */
            text-transform: uppercase;
        }
        #bodyPlayer-playerDescription{
            max-height: 100%;
            display: flex;
            align-items: center;
            overflow: hidden;
        }
            #bodyPlayer-playerDescription p{
                font-size: 1.5vh;
                color: #fff;
                margin: 0;
                text-align: justify;
            }

            
    #bodyPlayer-Data{
        display: grid;
        grid-template-rows: 10% auto 40%; /* Dos columnas de tamaño igual */
        gap: 20px;
        margin: 0;
    }
        #bodyPlayer-title{
            display: flex;
            align-items: center;
            justify-content: center;
        }
            #bodyPlayer-title p{
                font-weight: bold; /* Negrita */
                text-transform: uppercase; /* Mayúsculas */
                color: white;
                font-size: 100%;
            }
        
        #bodyPlayer-life{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
            #bodyPlayer-life h3{
                color: white;
                font-size: 100%;
            }
            #bodyPlayer-life p{
                color: white;
                font-size: 100%;
            }
   
        #bodyPlayer-inventory{
            display: grid;
            grid-template-rows: 15% auto; /* Dos columnas de tamaño igual */
            
        }
            #inventoryTitle{
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: bold; /* Negrita */
                text-transform: uppercase; /* Mayúsculas */
                color: white;
            }

                #inventoryTitle p{
                    font-size: 1vh;
                }

            #inventoryBox{
                display: grid;
                grid-template-areas:
                    "1A 2A"
                    "1B 2B"
                    "1C 2C";
                grid-template-columns: 50% 50%;
                grid-template-rows: 1fr 1fr 1fr;
                grid-column-gap: 10px;
            }

            
            .inventoryImgContainer{
                display: flex;
                align-items: center;
                justify-content: right;
            }


            #obj1Img{
                width: 25px;
                height: 25px;
                background-image: url(./images/obj1Iamgen.png);
                background-size: contain;
                background-repeat: no-repeat;
            }

            #obj1Texto{
                display: flex;
                align-items: center;
                justify-content: left;
            }

                #obj1Texto p{
                    font-size: 1vh;
                    font-weight: bold; /* Negrita */
                    text-transform: uppercase; /* Mayúsculas */
                    color: white;
                }



            #obj2Img{
                width: 25px;
                height: 25px;
                background-image: url(./images/obj1Iamgen.png);
                background-size: contain;
                background-repeat: no-repeat;
            }

            #obj2Texto{
                display: flex;
                align-items: center;
                justify-content: left;
            }
                #obj2Texto p{
                    font-size: 1vh;
                    font-weight: bold; /* Negrita */
                    text-transform: uppercase; /* Mayúsculas */
                    color: white;
                }


            #obj3Img{
                width: 25px;
                height: 25px;
                background-image: url(./images/obj1Iamgen.png);
                background-size: contain;
                background-repeat: no-repeat;
            }
            #obj3Texto{
                display: flex;
                align-items: center;
                justify-content: left;
            }
                #obj3Texto p{
                    font-size: 1vh;
                    font-weight: bold; /* Negrita */
                    text-transform: uppercase; /* Mayúsculas */
                    color: white;
                }
/***********************************************/





body {
    background-image: url(../../../images/inferno_9_normal.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}





.buttonStyles{
    color: #fff8f8;
    padding: 5px;
    text-decoration: none;
    font-size: 3vh;
    transition: 0.2s;
    background: #db2828;
    box-shadow: 0 0 10px #db2828, 0 0 40px #db2828, 0 0 80px #db2828;
    border: 2px solid #ffffff;
    border-radius: 30px;
}


#button-next:active{
    animation: shake 0.3s;
}
#button-next:disabled{
    opacity: 0.5;
    background: #5e1313;
}

#button-next:hover {
    box-shadow: 0 0 10px #6c3131, 0 0 80px #db2828, 0 0 120px #db2828;
}

#optionA {
    display: none;
    
}

#optionA:hover {
    box-shadow: 0 0 10px #db2828, 0 0 80px #db2828, 0 0 120px #db2828;
}

#optionB {
    display: none;

}

#optionB:hover {
    box-shadow: 0 0 10px #db2828, 0 0 80px #db2828, 0 0 120px #db2828;
}


/*

#option {
    position: absolute;
    position: fixed;
    top: 700px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 15px 30px;
    color: #fff8f8;
    letter-spacing: 4px;
    font-size: 24px;
    transition: 0.2s;
    background-color: #000;
    left: 50%;
    transform: translateX(-50%);
}

#choice {
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
}

.optionA {
    display: inline-block;
    padding: 15px 30px;
    color: #fff8f8;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    background-color: #410000;
    box-shadow: 0 0 10px #410000, 0 0 40px #410000, 0 0 80px #410000;
}

.optionB {
    display: inline-block;
    color: #fff8f8;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    background-color: #410000;
    box-shadow: 0 0 10px #410000, 0 0 40px #410000, 0 0 80px #410000;
}

.optionA:hover,
.optionB:hover {
    box-shadow: 0 0 10px #410000, 0 0 80px #410000, 0 0 120px #410000;
}

.audio-player {
    background-color: transparent;
}

.audio-player audio {
    margin-right: 10px;
}

.audio-player button {
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
*/
/************Animations**********************/
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
  }