.pageContainer {
    opacity: 0;
    transition: opacity 2s;
}

.pageContainer.show {
    opacity: 1;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(../../../images/inferno_0.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.title {
    position: absolute;
    width: auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    position: fixed;
    left: 10px;
    background-color: rgba(48, 48, 48, 0.5);
    color: rgb(255, 255, 255);
}

.icons {
    display: flex;
    justify-content: flex-end;
    margin: 2%;
}

#container {
    position: absolute;
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    padding: 20px;
    background-color: #ada9a9;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: rgba(48, 48, 48, 0.5);
    color: rgb(255, 255, 255);
    pointer-events: none;
}

#paragraph {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
}

#menu {
    width: 200px;
    background-color: #f2f2f2;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    position: fixed;
    right: 10px;
    top: 20px;
    background-color: rgba(48, 48, 48, 0.5);
    color: rgb(255, 254, 254);
    position: absolute;
}

#next {
    position: absolute;
    position: fixed;
    top: 700px;
    display: inline-block;
    padding: 15px 30px;
    color: #fff8f8;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    background: #db2828;
    box-shadow: 0 0 10px #db2828, 0 0 40px #db2828, 0 0 80px #db2828;
    left: 50%;
    bottom: 10;
    transform: translateX(-50%);
}

#next:hover {
    box-shadow: 0 0 10px #db2828, 0 0 80px #db2828, 0 0 120px #db2828;
}

#option {
    position: absolute;
    position: fixed;
    top: 700px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 15px 30px;
    color: #fff8f8;
    letter-spacing: 4px;
    font-size: 24px;
    transition: 0.2s;
    background-color: #000;
    left: 50%;
    transform: translateX(-50%);
}

#choice {
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
}

.optionA {
    display: inline-block;
    padding: 15px 30px;
    color: #fff8f8;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    background-color: #410000;
    box-shadow: 0 0 10px #410000, 0 0 40px #410000, 0 0 80px #410000;
}

.optionB {
    display: inline-block;
    padding: 15px 30px;
    color: #fff8f8;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    background-color: #410000;
    box-shadow: 0 0 10px #410000, 0 0 40px #410000, 0 0 80px #410000;
}

.optionA:hover,
.optionB:hover {
    box-shadow: 0 0 10px #410000, 0 0 80px #410000, 0 0 120px #410000;
}

.audio-player {
    position: fixed;
    left: 20px;
    bottom: 20px;
    display: flex;
    align-items: center;
    background-color: transparent;
}

.audio-player audio {
    margin-right: 10px;
}

.audio-player button {
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}